@model Entidades.Partials.PropuestaWrapper

@{
    ViewBag.Title = "Detalle propuesta";
}

<link href="~/Content/css/estilos.css" rel="stylesheet" type="text/css" runat="server" />
<div class="row">
    <style>
    </style>
    <h2 class="clase2">@Model.Propuesta.Nombre</h2>
    <div class="col-6 flo-left">
        <img class="card-img-top mt-3" src="~/Content/img/@Model.Propuesta.Foto" alt="No se pudo cargar la foto">

        @if (Model.Propuesta.IdUsuarioCreador != Model.idLogeado)
        {
            if (@Model.voto == 1)
            {
                <h5 class="mt-6">Ya votaste que te gustó esta propuesta</h5>
                <button class="btn btn-secondary float-left botones manito">Me gusta <i class="fas fa-angle-double-right"></i></button>
                <a href="~/Propuestas/ValoracionPropuesta?IdUser=@Session["usuario"]&IdPropuesta=@Model.Propuesta.IdPropuesta&valoracion=2" class="btn btn-danger float-left botones">No me gusta <i class="fas fa-angle-double-right"></i></a>
            }
            else if (@Model.voto == 2)
            {
                <h5 class="mt-6">Ya votaste que no te gustó esta propuesta</h5>
                <a href="~/Propuestas/ValoracionPropuesta?IdUser=@Session["usuario"]&IdPropuesta=@Model.Propuesta.IdPropuesta&valoracion=1" class="btn btn-success float-left botones">Me gusta <i class="fas fa-angle-double-right"></i></a>
                <a class="btn btn-secondary float-left botones manito">No me gusta <i class="fas fa-angle-double-right"></i></a>
            }
            else if (@Model.voto == 3)
            {
                <h5 class="mt-6">Votá esta propuesta</h5>
                <a href="~/Propuestas/ValoracionPropuesta?IdUser=@Session["usuario"]&IdPropuesta=@Model.Propuesta.IdPropuesta&valoracion=1" class="btn btn-success float-left botones">Me gusta <i class="fas fa-angle-double-right"></i></a>
                <a href="~/Propuestas/ValoracionPropuesta?IdUser=@Session["usuario"]&IdPropuesta=@Model.Propuesta.IdPropuesta&valoracion=2" class="btn btn-danger float-left botones">No me gusta <i class="fas fa-angle-double-right"></i></a>
            }
        }

        <h3 class="clase3">
            Valoración:
        </h3>
        <div class="progress">
            <div class="progress-bar bg-success" style="width: @Model.porcentajePositivo%;">
                @Model.porcentajePositivo%
            </div>
            <div class="progress-bar bg-danger" style="width:@Model.porcentajeNegativo%;">
                @Model.porcentajeNegativo%
            </div>
        </div>
        @if (Model.Propuesta.IdUsuarioCreador != Model.idLogeado)
        {
            if (@Model.Denuncia >= 1)
            {
                <br />
                <h5>Usted ya denunció esta propuesta</h5>
            }
            else
            {
                <a href="/Denuncias/IrADenunciar?IdPropuesta=@Model.Propuesta.IdPropuesta&IdUsuario=@Session["usuario"]" class="btn btn-warning float-left denuncia">Denunciar <i class="fas fa-angle-double-right"></i></a>
            }
        }
    </div>
    <div class="col-6 flo-left">
        <h3 class="clase3">Descripción: </h3>
        <p class="parraf">@Model.Propuesta.Descripcion</p>
        <h3 class="clase3">Usuario:</h3>
        <p class="parraf">@Model.Usuario.UserName</p>
        <h3 class="clase3">Fecha de creación:</h3>
        <p class="parraf">@Model.Propuesta.FechaCreacion.ToString("dd/MM/yyyy")</p>
        <h3 class="clase3">Fecha de finalización:</h3>
        <p class="parraf">@Model.Propuesta.FechaFin.ToString("dd/MM/yyyy")</p>
        <h3 class="clase3">Contacto:</h3>
        <p class="parraf">@Model.Propuesta.TelefonoContacto</p>
        @if (Model.Propuesta.TipoDonacion == 3)
        {<div class="fondo-color">
                <h3 class="clase3">Donaciones de horas de trabajo requeridas:</h3>
                <br />
                <h4 class="text-danger">Se necesita: @Model.PropuestasDonacionesHorasTrabajo hs</h4>
                <h4 class="text-success">Se donaron:@Model.GetDonacionesHorasTrabajo hs</h4>

                @if (@Model.PropuestasDonacionesHorasTrabajo > @Model.GetDonacionesHorasTrabajo)
                {
                    <h4 class="text-danger">Faltan: @Model.DonacionesHorasFaltantes hs</h4>
                    if (Model.Propuesta.IdUsuarioCreador != Model.idLogeado)
                    {
                        <a href="~/Donaciones/RealizarDonacion/@Model.Propuesta.IdPropuesta" class="btn btn-warning float-left denuncia">Donar <i class="fas fa-angle-double-right"></i></a>
                    }
                }
                else
                {
                    <h4 class="text-success">¡Se completaron las donaciones necesarias!</h4>
                }
            </div>
        }
        @if (Model.Propuesta.TipoDonacion == 2)
        {
            <h3 class="clase3">Donaciones de insumos requeridas:</h3>

            <table class="table table1">

                <thead>
                    <tr>
                        <th>Insumo</th>
                        <th>Requerida</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var insumos in Model.PropuestasDonacionesInsumos)
                    {
                        <tr>
                            <td>@insumos.Nombre</td>

                            <td>@insumos.Cantidad</td>
                        </tr>
                    }
                </tbody>
            </table>

            <table class="table table2">

                <thead>
                    <tr>

                        <th>Donada</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var insumos2 in Model.GetDonacionesInsumos)
                    {
                        <tr>
                            <td>@insumos2</td>
                        </tr>
                    }
                </tbody>
            </table>

            <table class="table table2">

                <thead>
                    <tr>

                        <th>Faltantes: </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var totales in Model.TotalesDonacionesInsumos)
                    {
                        if (totales != 0)
                        {
                            <tr>
                                <td class="text-danger">@totales</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="text-success"><s>   @totales   </s></td>
                            </tr>
                        }

                    }
                </tbody>
            </table>

            if (Model.Propuesta.IdUsuarioCreador != Model.idLogeado)
            {
                <a href="~/Donaciones/RealizarDonacion/@Model.Propuesta.IdPropuesta" class="btn btn-warning float-left denuncia">Donar <i class="fas fa-angle-double-right"></i></a>
            }
        }

        @if (Model.Propuesta.TipoDonacion == 1)
        {
            <div class="don3">
                <h3 class="clase3">Donaciones monetarias requeridas:</h3>

                <table class="table table4">

                    <tr>
                        <th class="table-danger">Se necesitan: </th>
                        <th class="table-danger">$@Model.PropuestasDonacionesMonetarias</th>
                    </tr>

                    <tr>
                        <th class="table-success">Se donaron: </th>
                        <th class="table-success">$@Model.GetDonacionesMonetarias</th>
                    </tr>

                    <tr>
                        <th class="table-info">Faltan: </th>
                        <th class="table-info">
                            @if (@Model.PropuestasDonacionesMonetarias > @Model.GetDonacionesMonetarias)
                            {
                                <h4 class="text-danger">$@Model.DonacionesMonetariasFaltantes</h4>
                            }
                            else
                            {
                                <h4 class="text-success">¡Se completaron las donaciones necesarias!</h4>
                            }
                        </th>

                    </tr>
                </table>
                @if (@Model.PropuestasDonacionesMonetarias > @Model.GetDonacionesMonetarias)
                {
                    if (Model.Propuesta.IdUsuarioCreador != Model.idLogeado)
                    {
                        <a href="~/Donaciones/RealizarDonacion/@Model.Propuesta.IdPropuesta" class="btn btn-warning float-left denuncia">Donar <i class="fas fa-angle-double-right"></i></a>
                    }
                }
            </div>
        }
    </div>

</div>
