@model Entidades.Partials.PropuestaWrapper

@{
    ViewBag.Title = "Detalle propuesta";
}

<link href="~/Content/css/estilos.css" rel="stylesheet" type="text/css" runat="server" />
<div class="row">
    <h3 class="clase2 text-center" style="font-weight:700">@Model.Propuesta.Nombre</h3>
    <div class="col-sm-12 col-md-4 text-center">
        <img class="card-img-top mt-3" src="~/Content/img/@Model.Propuesta.Foto" alt="No se pudo cargar la foto">

        <div class="mt-3">
            @if (Model.Propuesta.IdUsuarioCreador != Model.idLogeado)
            {
                if (@Model.voto == 1)
                {
                    <button class="btn btn-secondary btn-sm col-3"><i class="fas fa-thumbs-up"></i></button>
                    <a href="~/Propuestas/ValoracionPropuesta?IdUser=@Session["usuario"]&IdPropuesta=@Model.Propuesta.IdPropuesta&valoracion=2" class="btn btn-sm btn-danger col-3"><i class="fas fa-thumbs-down"></i></a>
                }
                else if (@Model.voto == 2)
                {
                    <a href="~/Propuestas/ValoracionPropuesta?IdUser=@Session["usuario"]&IdPropuesta=@Model.Propuesta.IdPropuesta&valoracion=1" class="btn btn-sm btn-success col-3"><i class="fas fa-thumbs-up"></i></a>
                    <a class="btn btn-secondary btn-sm col-3"><i class="fa-thumbs-down"></i></a>
                }
                else if (@Model.voto == 3)
                {
                    <a href="~/Propuestas/ValoracionPropuesta?IdUser=@Session["usuario"]&IdPropuesta=@Model.Propuesta.IdPropuesta&valoracion=1" class="btn btn-sm btn-success col-3"><i class="fas fa-thumbs-up"></i></a>
                    <a href="~/Propuestas/ValoracionPropuesta?IdUser=@Session["usuario"]&IdPropuesta=@Model.Propuesta.IdPropuesta&valoracion=2" class="btn btn-sm btn-danger col-3"><i class="fas fa-thumbs-down"></i></a>
                }
                if (@Model.Denuncia >= 1)
                {
                    <button class="btn btn-secondary btn btn-secondary btn-sm col-3"><i class="fas fa-ban"></i></button>

                }
                else
                {
                    <a href="/Denuncias/IrADenunciar?IdPropuesta=@Model.Propuesta.IdPropuesta&IdUsuario=@Session["usuario"]" class="btn btn-warning btn-sm col-3"><i class="fas fa-ban"></i></a>
                }
            }
        </div>


    </div>
    <div class="col-sm-12 col-md-8 flo-left mt-4">
        <h6><span style="color:black;font-weight:700">Descripción: </span> <div class="mt-1"> @Model.Propuesta.Descripcion</div></h6>

        <h6>
            <span style="color:black;font-weight:700">Usuario: </span> <span style="font-size:13px">@Model.Usuario.UserName</span>
        </h6>
        <h6>
            <span style="color:black;font-weight:700">Fecha de creación: </span> <span style="font-size:13px">@Model.Propuesta.FechaCreacion.ToString("dd/MM/yyyy")</span>
        </h6>
        <h6>
            <span style="color:black;font-weight:700">Fecha de finalización: </span> <span style="font-size:13px">@Model.Propuesta.FechaFin.ToString("dd/MM/yyyy")</span>
        </h6>
        <h6>
            <span style="color:black;font-weight:700">Contacto: </span><span style="font-size:13px">@Model.Propuesta.TelefonoContacto</span>
        </h6>
        <div class="progress mt-2" style="width:70%">
            <div class="progress-bar bg-info" style="width: @Model.porcentajePositivo%;">
                <b>@Model.porcentajePositivo%</b>
            </div>

            <div class="progress-bar bg-gradient-light" style="width:@Model.porcentajeNegativo%; color:#6d6d6d">
                <b>@Model.porcentajeNegativo%</b>
            </div>
        </div>
    </div>

    @if (Model.Propuesta.TipoDonacion == 3)
    {
        <div class="col-sm-12 mt-5">
            <table class="table table-striped">

                <tr>
                    <th class="">Se necesitan </th>
                    <th class="">@Model.PropuestasDonacionesHorasTrabajo hs</th>
                </tr>

                <tr>
                    <th>Se donaron </th>
                    <th>@Model.GetDonacionesHorasTrabajo hs</th>
                </tr>

                <tr>
                    <th>Faltan </th>
                    <th>
                        @if (@Model.PropuestasDonacionesHorasTrabajo > @Model.GetDonacionesHorasTrabajo)
                        {
                            <h6 class="text-danger" style="font-weight:700">@Model.DonacionesHorasFaltantes hs</h6>
                        }
                        else
                        {
                            <h6 class="text-success">¡Se completaron las donaciones necesarias!</h6>
                        }
                    </th>

                </tr>
            </table>
            @if (@Model.PropuestasDonacionesHorasTrabajo > @Model.GetDonacionesHorasTrabajo)
            {
                if (Model.Propuesta.IdUsuarioCreador != Model.idLogeado)
                {
                    <div class="text-center mt-1 mb-5">
                        <a href="~/Donaciones/RealizarDonacion/@Model.Propuesta.IdPropuesta" class="btn btn-info" style="width:40%">Donar</a>
                    </div>
                }
            }
        </div>
    }

    @if (Model.Propuesta.TipoDonacion == 2)
    {
        <div class="col-sm-12 mt-5 ">

            <table class="table table1 table-striped">

                <thead>
                    <tr>
                        <th>Insumo</th>
                        <th>Requerida</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var insumos in Model.PropuestasDonacionesInsumos)
                    {
                        <tr>
                            <td>@insumos.Nombre</td>

                            <td>@insumos.Cantidad</td>
                        </tr>
                    }
                </tbody>
            </table>

            <table class="table table2 table-striped">

                <thead>
                    <tr>

                        <th>Donada</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var insumos2 in Model.GetDonacionesInsumos)
                    {
                        <tr>
                            <td>@insumos2</td>
                        </tr>
                    }
                </tbody>
            </table>

            <table class="table table2 table-striped">

                <thead>
                    <tr>

                        <th>Faltantes </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var totales in Model.TotalesDonacionesInsumos)
                    {
                        if (totales != 0)
                        {
                            <tr>
                                <td class="text-danger">@totales</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="text-success"><s>   @totales   </s></td>
                            </tr>
                        }

                    }
                </tbody>
            </table>

            @if (Model.Propuesta.IdUsuarioCreador != Model.idLogeado)
            {
            <div class="text-center mt-1 mb-5">
                <a href="~/Donaciones/RealizarDonacion/@Model.Propuesta.IdPropuesta" class="btn btn-info" style="width:40%">Donar</a>
            </div>
            }
        </div>
    }

    @if (Model.Propuesta.TipoDonacion == 1)
    {
        <div class="col-sm-12 mt-5">
            <table class="table table-striped">

                <tr>
                    <th class="">Se necesitan </th>
                    <th class="">$@Model.PropuestasDonacionesMonetarias</th>
                </tr>

                <tr>
                    <th>Se donaron </th>
                    <th>$@Model.GetDonacionesMonetarias</th>
                </tr>

                <tr>
                    <th>Faltan </th>
                    <th>
                        @if (@Model.PropuestasDonacionesMonetarias > @Model.GetDonacionesMonetarias)
                        {
                            <h6 class="text-danger" style="font-weight:700">$@Model.DonacionesMonetariasFaltantes</h6>
                        }
                        else
                        {
                            <h6 class="text-success">¡Se completaron las donaciones necesarias!</h6>
                        }
                    </th>

                </tr>
            </table>
            @if (@Model.PropuestasDonacionesMonetarias > @Model.GetDonacionesMonetarias)
            {
                if (Model.Propuesta.IdUsuarioCreador != Model.idLogeado)
                {
                    <div class="text-center mt-1 mb-5">
                        <a href="~/Donaciones/RealizarDonacion/@Model.Propuesta.IdPropuesta" class="btn btn-info" style="width:40%">Donar</a>
                    </div>
                }
            }
        </div>
    }
</div>
